/*
* @Author: apple
* @Date:   2017-09-17 18:58:47
* @Last Modified by:   apple
* @Last Modified time: 2017-09-25 21:15:59
*/
html, body, .section {
	min-height: 600px;
	min-width: 1000px;
	/* 最小的宽度和高度 防止 缩放过于变形 */
}
.w { width: 1000px; margin: 0 auto;}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.fl { float:left;}
.fr { float:right;}
.clear { zoom:1;}
.clear:after { content:''; display:block; clear:both; }


/*头部区域*/
.hd { width:100%; height:69px; position:fixed; top:0; left:0; z-index:1; }
.hd .inner { width:1000px; margin:0 auto; height:69px; }
.hd .logo { float:left; margin-top: 20px; }
.hd nav { float:right; padding-top: 19px; }
.hd nav li { float:left; }
.hd nav li a { line-height:50px; display:block; padding:0 20px; color:rgba(0,0,0,0.8); }
.hd nav li a:hover, .hd nav li.active a{ background:#fc0; color: #fff; }

/* 第一屏 */
.s1  {  background: url(../images/s1_bg.png) center no-repeat;  }
.s1 .w { position: relative;  height: 100%;}
.sIcon { position: absolute; width: 60px; height: 60px; animation: blinking 3s infinite; -webkit-animation: blinking 3s infinite; }
.s1 .icon1 { top:282px; left: 114px; background: url(../images/s1_icon1.png); animation-delay: -0.2s; -webkit-animation-delay: -0.2s; }
.s1 .icon2 { top: 418px; right: 76px; background: url(../images/s1_icon2.png); animation-delay: -1.0s; -webkit-animation-delay: -1.0s; }
.s1 .icon3 { top: 62px; left: 362px; background: url(../images/s1_icon3.png); animation-delay: -1.6s; -webkit-animation-delay: -1.6s; }
.cloud { position: absolute;  width: 187px; height: 105px; background: url(../images/cloud.png);  opacity: 0.8;}
.s1 .cloud1 { top: 140px; left: 132px; animation: moveLeft01 2.5s linear infinite; }
.s1 .cloud2 { top: 208px; right: 10px; animation: moveLeft02 1.8s linear infinite; }
@keyframes blinking{
	
	0%, 80%, 100% { opacity: 0.8; }
	40% { opacity: 0; }
	
}
@-webkit-keyframes blinking{
	
	0%, 80%, 100% { opacity: 0.8; }
	40% { opacity: 0; }
	
}

@keyframes moveLeft01{  /* 类似于js 的声明函数 function */
	50% {
	 left: 145px;
	}
	100% {
	 left: 132px;
	}
 }
 @keyframes moveLeft02{  /* 类似于js 的声明函数 function */
	50% {
	 right: 30px;
	}
	100% {
	 right: 10px;
	}
 }
/* 第二屏 */
.s2 {  }
.s2 .w { display: flex; justify-content: center; }
.introduce { display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 20px;  width: 400px; height:400px; background-color: rgba(0,0,0,.4); margin-right: 80px;  } 
.introduce p { font-size: 14px; color:#fff; text-indent: 2em; line-height: 28px; }
.personWrap { width: 200px; }
.person { position: relative; width: 200px; height: 405px; background: url(../images/person.png); animation-delay: 1s; }
/* 第三屏 */
.s3 {  }
.skillTree { position: relative; width: 600px; height: 337px; margin: 0 auto; background: url(../images/skillTree.png); }
.skillTree a { position: absolute; width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 50%; background-color:rgba(255,255,255,0.8) ; font-size: 12px; }
.skillTree .ht { top: 132px; left:24px; animation-delay: .3s;}
.skillTree .css { top: 20px; left: 102px; animation-delay: .6s;}
.skillTree .js { top: 106px; left: 218px; animation-delay: .9s;}
.skillTree .jq { top: 106px; left: 336px; animation-delay: 1.2s;}
.skillTree .node { top: 24px; right: 108px; animation-delay: 1.5s;}
.skillTree .vue { top: 132px; right: 20px; animation-delay: 1.8s;}
/* 第四屏 */
.s4 {  }
.workMan { width: 400px; height: 245px; margin-top: 82px;  background: url(../images/workMen.png); }
.pageWrap { width: 500px;}
.myPage { box-sizing: border-box; padding: 18px 18px 0;  width: 500px; height: 400px; background: url(../images/pc.png) no-repeat;  }

.promo{
	width: 464px;
	height: 264px;
	position: relative;
	overflow: hidden;
}
.promo ul{
	width:4000px;
	background: red;
	position: absolute;
	top: 0;
	left: 0;
}
.promo ul li{
	float: left;
}
.promo ol{
	position: absolute;
	bottom: 15px;
	left: 227px;
	background: rgba(255,255,255,0.3);
	border-radius: 7px;

}
.promo ol li{
	width: 9px;
	height: 9px;
	background: #B7B7B7;
	margin: 2px;
	float: left;
	border-radius: 50%;
	cursor: pointer;
}
.promo ol li.current{ background: #f40;}
.promo i{
	font-family: 'iconfont';
	position: absolute;
	top:120px;
	width: 40px;
	height: 40px;
	background:rgba(0,0,0,0.5);
	font-style: normal;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	cursor: pointer;
	 display: none; 

}
.left{ left: 5px;}
.right{ right: 5px;}
.search { margin-top: 20px; text-align: center; color: #fff; }

/* 第五屏 */
.contactBar { position: relative; width: 600px; height: 600px; margin: 0 auto; }
.contactBar a { animation-delay: .6s; }
.contactImg { position: absolute; top: 0; left: 0;  width: 600px; height: 600px; background: url(../images/contactBar.png);  }
.qq { position: absolute; top: 60px; right: 108px;  width: 65px; height: 75px; background: url(../images/qq.png); }
.phone { position: absolute; top: 174px; left: 135px; width: 67px; height: 74px; background: url(../images/phone.png);}
.wechat { position: absolute; bottom: 182px; right: 100px; width: 79px; height: 68px; background: url(../images/wechat.png);}
.email { position: absolute; bottom: 78px; left: 138px; width: 59px; height: 44px; background: url(../images/email.png);}